       body {
           background-color: aliceblue;
       }

       table {
           width: 100%;
       }

       th {
           width: 15%;
       }

       input[type="radio"] {
           display: none;
       }

       button:is(.calc_but) {
           font-size: medium;
           padding: 1px 4px;
           margin-top: 10px;
           margin-bottom: 10px;
           min-width: 100px;
           min-height: 30px;
       }

       div:has(>.calc_but) {
           text-align: center;
           height: 200px;
           align-items: center;
       }

       /* td:has(>.asd) {} */

       div:is(.asd) {
           display: flex;
           height: 100%;
           background-color: aquamarine !important;
       }

       /* td:has(button) {
           background-color: aqua; 
          display: flex; 
       } */

       .asd>button {
           width: 100% !important;
           height: 30px;
           margin: 2px 2px;
       }

       #hayami {
           text-align: center;
       }

       #hayami_head td {
           font-weight: bold;
       }

       #keis label {
           width: 100%;
           margin: 2px 2px;
           background-color: lightgray;
           border-radius: 2px;
           box-shadow: 0px 1px darkgrey;
           text-align: center;
       }

       label:has(input[type=radio]:checked) {
           background-color: silver !important;
           transform: translateY(1px);
           box-shadow: none;
       }

       /* #keis table {
           text-align: center; 
       }*/

       #keis th {
           width: 20px;
           height: 30px;
           /* text-align: center; */
           font-weight: normal;
       }

       #keis td {
           /* text-align: center; */
           width: 200px;
           height: 30px;
       }

       #keis td:has(label) div {
           text-align: center;
           display: flex;
       }

       #keis label:has(.radio_2) {
           display: inline-block;
           padding-left: 4px;
           padding-right: 4px;
           padding-bottom: 1px;
           margin-top: 2px;
           margin-bottom: 3px;
       }


       #keis span {
           font-size: x-small;
       }

       div:is(.kakko) {
           font-size: x-small;
           display: block !important;
       }


       label:has(.kakko) {
           font-size: small;
           width: 40px;
           margin-top: 3px;
           margin-bottom: 3px;
           margin-left: 1px;
           margin-right: 1px;
       }


       #exp_cal,
       #exp_num {
           box-sizing: border-box;
           height: 28px;
           min-width: 100px;

           margin-left: 10px;
       }


       #ee {
           margin: auto;
           width: 100%;
       }

       #ee tr {
           height: 39px;
           min-height: 39px;
           max-height: 40px;
       }

       #ee th {
           font-weight: normal;
           text-align: center;
           max-width: 80px;
           width: 56px;
       }

       #ee .input_level {
           text-align: center;
           font-size: 0;
       }

       .input_level input[type="number"] {
           width: 55px;
           max-width: 50px;
           box-sizing: border-box;
           font-size: 17px;
           height: 34px;
           margin-left: 2px;
           margin-right: 2px;
           /* border: 1px; */
           padding-left: 5px;
           padding-right: 1px;
       }

       .border {
           text-align: center;
           margin-top: 20px;
           margin-bottom: 40px;
           border: 1px dashed grey;
       }



       .atens {
           margin: auto;
           max-width: 400px;
           width: 95%;
       }

       .atens ul {
           margin: auto;
           list-style: none;
           padding-left: 1em;
           /* text-align: center; */
           color: grey;
           font-size: x-small;
           text-indent: -1em;
       }

       #arti {
           margin: auto;
           max-width: 400px;
           width: 95%;
           background-color: aliceblue;
       }

       .arti {
           margin: auto;
           max-width: 400px;
           width: 95%;
           background-color: aliceblue;
       }

       .arti table {
           margin: auto;
       }

       .div_needExp {
           display: inline;
           margin-left: 10px;
           width: 80px;
           height: 100%;
       }

       .div_needExp span {
           vertical-align: middle;
           margin-left: 5px;
       }

       #next_exp {
           box-sizing: border-box;
           max-width: 100px;
           width: 80px;
           height: 30px;
       }

       #trans_num {
           padding: 2px;
           font-size: 16px;
           height: 30px;
           width: 80px;
           border-radius: 3px;
       }