html {
    touch-action: manipulation;
}

body {
    margin: 0px;
}


h1 {
    height: 40px;
    line-height: 40px;
    font-family: sans-serif;
    font-size: large;
    text-align: center;
    color: aliceblue;
    -webkit-text-stroke: 1px gray;
    paint-order: stroke;
    background-color: royalblue;
    margin: 0px;
}

h2 {
    height: 30px;
    line-height: 30px;
    font-family: sans-serif;
    font-size: medium;
    text-align: center;
    color: grey;
    paint-order: stroke;
    background-color: lemonchiffon;
    margin-top: 0px;
}

.hum {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: transparent;
    width: 40px;
    height: 39px;
    border: none;
    color: white;
    font-size: larger;
}