html {
    touch-action: manipulation;
}

body {
    margin: 0px;
}

h1 {
    height: 40px;
    line-height: 40px;
    font-family: sans-serif;
    font-size: large;
    text-align: center;
    color: aliceblue;
    -webkit-text-stroke: 1px gray;
    paint-order: stroke;
    background-color: royalblue;
    margin: 0px;
}

h2 {
    height: 30px;
    line-height: 30px;
    font-family: sans-serif;
    font-size: medium;
    text-align: center;
    color: grey;
    background-color: lemonchiffon;
    margin-top: 0px;
}

h3 {
    font-size: medium;
    /* font-weight: normal; */
    margin-bottom: 5px;
    margin-left: 8px;
}

input {
    font-size: 16px;
    vertical-align: middle;
}

.atens {
    margin: auto;
    max-width: 400px;
    width: 90%;
}

.atens ul {
    margin: auto;
    list-style: none;
    padding-left: 1em;
    color: grey;
    font-size: x-small;
    text-indent: -1em;
}

.hum {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: transparent;
    width: 40px;
    height: 39px;
    border: none;
    color: white;
    font-size: larger;
    z-index: 100;
}

.hum_menu a {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    padding: 3px 10px;

    border: 1px solid, black;
}

.hum_menu {
    position: absolute;
    display: none;
}

.hum_menu.as {
    display: block;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgb(255 255 255 / 0.9);
}

.arr {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.hum_menu ul {
    list-style: none;
    padding-top: 30px;
    padding-left: 0px;

}

.hum_menu li {
    position: relative;
    display: flex;
    background-color: gainsboro;
    /* padding: 3px 10px; */
    margin: 5px auto;
    width: 200px;
}

.hum_menu li:hover {
    background-color: lightgrey;
}